* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  background-color: rgb(255, 196, 0);
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}

p {
  font-size: 18px;
}
